<!DOCTYPE html>
<html>
<head>
  <title>Shawnteresting</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<ul clas="nav nav-tabs">
	 	<%= link_to "Home", root_path %>
	 	<%= link_to "About", about_path %>
	</ul>
	<%= yield %>
</div>

</body>
</html>
